html 
{
  font-size: 1rem;
}

body
{
  margin: 0;

  overflow-x: hidden;
}

/***************** Main Container *****************/
.cf-m 
{
  padding: 0% 10% 3%;
  background-color: #0b111e;
}

/***************** NavBar *****************/
.primary-header
{
  position: relative;
  // top: 0;
  // left: 0;
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px 12px;
  background-color: #0b111ede;
}

.navbar-brand
{
  text-decoration: none;
}

// .navbar 
// {
//   background: #0b111e;
// }

.navbar-brand
{
  color: #4abfe3;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.nav-content
{
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsla(217, 33%, 17%, 0.75);

  //If the background filter is supported by the browser then it is applied if no then the default background will be applied!!!
  @supports (backdrop-filter: blur(1rem))  
  {
    background: #475569d8; //rgb(18, 60, 95) hsla(0, 0%, 100%, 0.322)
    backdrop-filter: blur(1rem);
  }
  
  @media (max-width: 800px) 
  {
    position: fixed;
    z-index: 1000;
    // inset: 0 0 0 60%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 220px;
    
    flex-direction: column;
    padding: 100px 5% 10%;
    // padding: min(30vh, 10rem), 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  @media (min-width: 801px)  
  {
    background: hsla(0, 0%, 100%, 0.1); //rgb(18, 60, 95) 
    backdrop-filter: blur(1rem);
    padding-block: 1rem;
    padding-inline: clamp(0.5rem, 10vw, 4rem);
    gap: clamp(1.5rem, 5vw, 3rem);
    border-radius: 60px;
  }

}

.nav-content[data-visible="true"]
{
  transform: translateX(0%);
}

.number-in-nav-content
{
  display: none;

  @media (max-width: 800px)
  {
    display: inline;
    font-weight: 800;
  }
}

.mobile-nav-toggle
{
  display: none;

  @media (max-width: 800px) 
  {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url('/assets/icons/icon-hamburger.svg');
    background-repeat: no-repeat;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 0.8rem;
    right: 0rem;
  }
}

.mobile-nav-toggle[aria-expanded = "true"]
{
  background-image: url("/assets/icons/icon-close.svg");
}    

.nav-link
{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #cad0db;
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s;
}

.nav-link:hover
  {
    color: #F1F5F9;
  }


/***************** Hero Section *****************/
#hero-section 
{
  background-color: #0b111e;
  padding: 10% 0%;
}

// .hero-content
// {
//   box-sizing: border-box;
// }

.sub-cap 
{
  font-family: "Poppins";
  font-size: 0.875rem;
  color: #e2e3f0;
  line-height: 170%;
  letter-spacing: 0.016rem;
}

.main-heading 
{
  font-family: "Poppins";
  font-size: 3.75rem;
  font-weight: 600;
  color: #df8e06;
  line-height: 170%;
  letter-spacing: 0.016rem;
  transition: 0.8s;
}

.main-heading:hover 
{
  color: #ffa000;
}

.main-caption 
{
  font-family: "Poppins";
  font-size: 1rem;
  color: #ffffff;
  line-height: 170%;
  letter-spacing: 0.031rem;
}

.hero-img 
{
  width: 100%;
}

/***************** Buttons *****************/
.about-btn 
{
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.9375rem;
  color: #f1f5f9;
  background-color: #0b111e;
  border-color: #f1f5f9;
  border-radius: 0.25rem;
  padding: 12px 22px;
  margin-top: 2.8125rem;
  transition: 0.8s;
}

.about-btn:hover 
{
  background-color: #f1f5f9;
}

.view-designs-btn 
{
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  color: #0b111e;
  background-color: #df8e06;
  border-radius: 0.25rem;
  padding: 12px 22px;
  margin-top: 1.875rem;
  margin-left: 1.5625rem;
  transition: 0.8s;
}

.view-designs-btn:hover 
{
  background-color: #ffa000;
}

.design-icon 
{
  width: 2.5rem;
}

/**************** Hero Section End *************/

/**************** Designs Section Container *************/
.designs-container 
{
  background-color: #1e293b;
  padding: 5% 12% 8%;
}

/* Design Thumbnail Cards */
// .title-and-button {
//   align-items: center;
// }

.design-card-button:hover 
{
  background-color: #1e293b;
  color: #ffffff;
}


.designs-row 
{
  margin-top: 6.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-gap: 6.25rem; //100px

  @media (max-width: 1500px) 
  {
    grid-gap: 3.125rem;
  }

  @media (max-width: 1350px) 
  {
    grid-gap: 1.875rem;
  }

  @media (max-width: 1300px) 
  {
    grid-gap: 1.25rem;
  }

  @media (max-width: 991px) 
  {
    grid-gap: 5rem;
  }

  @media (max-width: 631px) 
  {
    grid-gap: 2.5rem;
  }

  @media (max-width: 588px) 
  {
    grid-gap: 3.75rem;
  }
  
}


.fidelity-card 
{
  background-color: #475569;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 19px 34px -11px rgba(0, 0, 0, 0.21);
}

.title-and-button //.designs-row .fidelity-card 
{
  padding: 0px 15px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title  //.designs-row .fidelity-card .title-and-button .design-card-title 
{
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.3rem;
  color: #ffffff;
  /* line-height: 170%; */
  align-self: center;

  @media (max-width: 1270px) 
  {
    font-weight: 500;
    font-size: 1.1rem;
  }

  @media (max-width: 1075px) 
  {
    font-weight: 500;
    font-size: 0.9rem;
  }

  @media (max-width: 991px) 
  {
    font-weight: 500;
    font-size: 1.1rem;
  }

  @media (max-width: 830px) 
  {
    font-weight: 400;
    font-size: 1rem;
  }

  @media (max-width: 670px) 
  {
    font-weight: 400;
    font-size: 0.8rem;
  }

  @media (max-width: 588px) 
  {
    font-weight: 500;
    font-size: 1.3rem;
  }

  @media (max-width: 420px) 
  {
    font-weight: 400;
    font-size: 1.1rem;
  }

  @media (max-width: 320px) 
  {
    font-weight: 400;
    font-size: 0.9rem;
  }

  @media (max-width: 283px) 
  {
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.design-card-button  // .designs-row .fidelity-card .title-and-button .design-card-btn 
{
  font-family: "Poppins";
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 170%;
  color: #475569;
  transition: 0.5s;

  @media (max-width : 1270px) 
  {
    font-size: 0.75rem;
    padding: 8px 15px;
  }

  @media (max-width : 1075px) 
  {
    font-size: 0.75rem;
    padding: 8px 15px;
  }

  @media (max-width : 991px) 
  {
    font-size: 0.8rem;
    padding: 10px 20px;
  }

  @media (max-width : 765px) 
  {
    font-size: 0.7rem;
    padding: 8px 8px;
  }

  @media (max-width : 588px) 
  {
    font-size: 0.938rem;
    padding: 10px 20px;
  }

  @media (max-width : 420px) 
  {
    font-size: 0.8rem;
    padding: 8px 8px;
  }

  @media (max-width : 320px) 
  {
    font-size: 0.7rem;
    padding: 8px 8px;
  }

  @media (max-width : 283px) 
  {
    font-size: 0.7rem;
    padding: 5px 5px;
  }
}

.design-card-button:hover  // .designs-row .fidelity-card .title-and-button .design-card-btn 
{
  background: #1e293b;
  color: #ffffff;
}

.design-card 
{
  padding: 15px 15px 0px 15px;
}

.thumbnail  // .design-card 
{
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 0.9/0.775; // 0.9/0.775 , 1.1/1
  max-width: max-content;
  object-fit: cover;

  @media (max-width: 93.75rem)
  {
    width: 100%;
  }

  @media (max-width: 588px)
  {
    width: 100%; 
    aspect-ratio: 0.88/0.675;
  }
}

/**************** Designs Section Container End*************/


/**************** Userflows Section Container Start*************/

.userflow-caption
{
  color: #94A3B8;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 15px;
  margin: 0;

  @media (max-width: 800px) 
  {
    font-size: 13px;
  }

  @media (max-width: 700px) 
  {
    font-size: 10px;
  }

  @media (max-width: 588px) 
  {
    font-size: 15px;
  }

  @media (max-width: 347px) 
  {
    font-size: 12px;
  }

  @media (max-width: 283px) 
  {
    font-size: 10px;
  }
}

.userflow-title
{
  color: #F8FAFC;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  padding-top: 10px;
  padding-left: 15px;
  margin: 0;

  @media (max-width: 800px) 
  {
    font-size: 22px;
  }

  @media (max-width: 700px) 
  {
    font-size: 18px;
  }

  @media (max-width: 588px) 
  {
    font-size: 24px;
  }

  @media (max-width: 588px) 
  {
    font-size: 20px;
  }

  @media (max-width: 283px) 
  {
    font-size: 18px;
  }
}

.top-content
{
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #030B19;
  padding-bottom: 10px;
  border-radius: 8px 8px 0px 0px;
}

.bottom-content
{
  position: relative;
}

.userflows-container
{
  background-color: #334155;
  padding: 5% 12% 8%;
}

.userflow-row
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 6.25rem;

  @media (max-width: 1447px) 
  {
    grid-gap: 3.5rem;
  }

  @media (max-width: 1331px) 
  {
    grid-gap: 1.5rem;
  }

  @media (max-width: 1247px) 
  {
    grid-gap: 1rem;
  }

  @media (max-width: 991px) 
  {
    grid-gap: 5rem;
  }

  @media (max-width: 631px) 
  {
    grid-gap: 2.95rem;
  }

}

.userflow-card
{
  border-radius: 8px;
}

.userflow-img
{
  border-radius: 0px 0px 8px 8px;
  // width: 100%; 
  width: 100%;
  aspect-ratio: 0.7/0.52; // 0.9/0.775 , 1.1/1
  max-width: max-content;
  object-fit: cover;

  @media (max-width: 1226px) 
  {
    aspect-ratio: 0.7/0.52;
  }

  @media (max-width: 831px) 
  {
    aspect-ratio: 0.345/0.25;
  }

  @media (max-width: 368px) 
  {
    aspect-ratio: 0.445/0.325;
  }
}

.viewflow
{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.viewflow-btn
{
  // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  // border: 2px solid #194169;
  // backdrop-filter: blur(12px);
  // -webkit-backdrop-filter: blur(12px);
  background-color: #475569;
  color: #F1F5F9;
  padding: 10px 15px;
  border-radius: 25px;
  border: 0px;
  transition: 0.5s;
}

.viewflow-btn:hover
{
    background-color: #1e293b;
    cursor: pointer;
}

