html {
  font-size: 1rem;
}

/***************** Main Container *****************/
.cf-m {
  padding: 0% 12% 3%;
  background-color: #0b111e;
}

/***************** NavBar *****************/
.navbar {
  background-color: #0b111e;
}

.navl2 {
  padding: 0px 0px 0px 15px;
}

/***************** Hero Section *****************/
#hero-section {
  background-color: #0b111e;
  padding: 10% 0%;
}

// .hero-content
// {
//   box-sizing: border-box;
// }

.sub-cap {
  font-family: "Poppins";
  font-size: 0.875rem;
  color: #e2e3f0;
  line-height: 170%;
  letter-spacing: 0.016rem;
}

.main-heading {
  font-family: "Poppins";
  font-size: 3.75rem;
  font-weight: 600;
  color: #df8e06;
  line-height: 170%;
  letter-spacing: 0.016rem;
  transition: 0.8s;
}

.main-heading:hover {
  color: #ffa000;
}

.main-caption {
  font-family: "Poppins";
  font-size: 1rem;
  color: #ffffff;
  line-height: 170%;
  letter-spacing: 0.031rem;
}

.hero-img {
  width: 100%;
}

/***************** Buttons *****************/
.about-btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.9375rem;
  color: #f1f5f9;
  background-color: #0b111e;
  border-color: #f1f5f9;
  border-radius: 0.25rem;
  padding: 12px 22px;
  margin-top: 2.8125rem;
  transition: 0.8s;
}

.about-btn:hover {
  background-color: #f1f5f9;
}

.view-designs-btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  color: #0b111e;
  background-color: #df8e06;
  border-radius: 0.25rem;
  padding: 12px 22px;
  margin-top: 1.875rem;
  margin-left: 1.5625rem;
  transition: 0.8s;
}

.view-designs-btn:hover {
  background-color: #ffa000;
}

.design-icon {
  width: 2.5rem;
}

/**************** Hero Section End *************/

/**************** Designs Section Container *************/
.designs-container {
  background-color: #1e293b;
  padding: 5% 12% 5%;
}

/* Design Thumbnail Cards */
.title-and-button {
  align-items: center;
}

.design-card-button:hover 
{
  background-color: #1e293b;
  color: #ffffff;
}


.designs-row {
  margin-top: 6.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-gap: 6.25rem; //100px

  @media (max-width: 1500px) {
    grid-gap: 3.125rem;
  }

  @media (max-width: 1350px) {
    grid-gap: 1.875rem;
  }

  @media (max-width: 1300px) {
    grid-gap: 1.25rem;
  }

  @media (max-width: 991px) {
    grid-gap: 5rem;
  }

  @media (max-width: 631px) {
    grid-gap: 2.5rem;
  }

  @media (max-width: 588px) {
    grid-gap: 3.75rem;
  }
  
}


.fidelity-card 
{
  background-color: #475569;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 19px 34px -11px rgba(0, 0, 0, 0.21);
}

.title-and-button //.designs-row .fidelity-card 
{
  padding: 15.008px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title  //.designs-row .fidelity-card .title-and-button .design-card-title 
{
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.3rem;
  color: #ffffff;
  /* line-height: 170%; */
  align-self: center;

  @media (max-width: 1270px) {
    font-weight: 500;
    font-size: 1.1rem;
  }

  @media (max-width: 1075px) {
    font-weight: 500;
    font-size: 0.9rem;
  }

  @media (max-width: 991px) {
    font-weight: 500;
    font-size: 1.1rem;
  }

  @media (max-width: 830px) {
    font-weight: 400;
    font-size: 1rem;
  }

  @media (max-width: 670px) {
    font-weight: 400;
    font-size: 0.8rem;
  }

  @media (max-width: 588px) {
    font-weight: 500;
    font-size: 1.3rem;
  }

  @media (max-width: 420px) {
    font-weight: 400;
    font-size: 1.1rem;
  }

  @media (max-width: 320px) {
    font-weight: 400;
    font-size: 0.9rem;
  }

  @media (max-width: 283px) {
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.design-card-button  // .designs-row .fidelity-card .title-and-button .design-card-btn 
{
  font-family: "Poppins";
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 170%;
  color: #475569;
  transition: 0.5s;

  @media (max-width : 1270px) {
    font-size: 0.75rem;
    padding: 8px 15px;
  }

  @media (max-width : 1075px) {
    font-size: 0.75rem;
    padding: 8px 15px;
  }

  @media (max-width : 991px) {
    font-size: 0.8rem;
    padding: 10px 20px;
  }

  @media (max-width : 765px) {
    font-size: 0.7rem;
    padding: 8px 8px;
  }

  @media (max-width : 588px) {
    font-size: 0.938rem;
    padding: 10px 20px;
  }

  @media (max-width : 420px) {
    font-size: 0.8rem;
    padding: 8px 8px;
  }

  @media (max-width : 320px) {
    font-size: 0.7rem;
    padding: 8px 8px;
  }

  @media (max-width : 283px) {
    font-size: 0.7rem;
    padding: 5px 5px;
  }
}

.design-card-button:hover  // .designs-row .fidelity-card .title-and-button .design-card-btn 
{
  background: #1e293b;
  color: #ffffff;
}

.design-card 
{
  padding: 15px;
}

.thumbnail  // .design-card 
{
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 0.9/0.775; // 0.9/0.775 , 1.1/1
  max-width: max-content;
  object-fit: cover;

  @media (max-width: 93.75rem){
    width: 100%;
  }

  @media (max-width: 588px){
    width: 100%;
    aspect-ratio: 0.88/0.675;
  }
}

/**************** Designs Section Container End*************/

.userflows-container
{
  background-color: #334155;
  padding: 5% 12% 5%;
}
