html {
  font-size: 1rem;
}

body {
  margin: 0;
}

/***************** Main Container *****************/
.cf-m {
  padding: 0% 12% 3%;
  background-color: #0b111e;
}

/***************** NavBar *****************/
.navbar {
  background-color: #0b111e;
}

.navl2 {
  padding: 0px 0px 0px 15px;
}

/***************** Hero Section *****************/
#hero-section {
  background-color: #0b111e;
  padding: 10% 0%;
}

.sub-cap {
  font-family: "Poppins";
  font-size: 0.875rem;
  color: #e2e3f0;
  line-height: 170%;
  letter-spacing: 0.016rem;
}

.main-heading {
  font-family: "Poppins";
  font-size: 3.75rem;
  font-weight: 600;
  color: #df8e06;
  line-height: 170%;
  letter-spacing: 0.016rem;
  transition: 0.8s;
}

.main-heading:hover {
  color: #ffa000;
}

.main-caption {
  font-family: "Poppins";
  font-size: 1rem;
  color: #ffffff;
  line-height: 170%;
  letter-spacing: 0.031rem;
}

.hero-img {
  width: 100%;
}

/***************** Buttons *****************/
.about-btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.9375rem;
  color: #f1f5f9;
  background-color: #0b111e;
  border-color: #f1f5f9;
  border-radius: 0.25rem;
  padding: 12px 22px;
  margin-top: 2.8125rem;
  transition: 0.8s;
}

.about-btn:hover {
  background-color: #f1f5f9;
}

.view-designs-btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  color: #0b111e;
  background-color: #df8e06;
  border-radius: 0.25rem;
  padding: 12px 22px;
  margin-top: 1.875rem;
  margin-left: 1.5625rem;
  transition: 0.8s;
}

.view-designs-btn:hover {
  background-color: #ffa000;
}

.design-icon {
  width: 2.5rem;
}

/**************** Hero Section End *************/
/**************** Designs Section Container *************/
.designs-container {
  background-color: #1e293b;
  padding: 5% 12% 5%;
}

/* Design Thumbnail Cards */
.title-and-button {
  align-items: center;
}

.design-card-button:hover {
  background-color: #1e293b;
  color: #ffffff;
}

.designs-row {
  margin-top: 6.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-gap: 6.25rem;
}
@media (max-width: 1500px) {
  .designs-row {
    grid-gap: 3.125rem;
  }
}
@media (max-width: 1350px) {
  .designs-row {
    grid-gap: 1.875rem;
  }
}
@media (max-width: 1300px) {
  .designs-row {
    grid-gap: 1.25rem;
  }
}
@media (max-width: 991px) {
  .designs-row {
    grid-gap: 5rem;
  }
}
@media (max-width: 631px) {
  .designs-row {
    grid-gap: 2.5rem;
  }
}
@media (max-width: 588px) {
  .designs-row {
    grid-gap: 3.75rem;
  }
}

.fidelity-card {
  background-color: #475569;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 19px 34px -11px rgba(0, 0, 0, 0.21);
}

.title-and-button {
  padding: 15.008px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.3rem;
  color: #ffffff;
  /* line-height: 170%; */
  align-self: center;
}
@media (max-width: 1270px) {
  .card-title {
    font-weight: 500;
    font-size: 1.1rem;
  }
}
@media (max-width: 1075px) {
  .card-title {
    font-weight: 500;
    font-size: 0.9rem;
  }
}
@media (max-width: 991px) {
  .card-title {
    font-weight: 500;
    font-size: 1.1rem;
  }
}
@media (max-width: 830px) {
  .card-title {
    font-weight: 400;
    font-size: 1rem;
  }
}
@media (max-width: 670px) {
  .card-title {
    font-weight: 400;
    font-size: 0.8rem;
  }
}
@media (max-width: 588px) {
  .card-title {
    font-weight: 500;
    font-size: 1.3rem;
  }
}
@media (max-width: 420px) {
  .card-title {
    font-weight: 400;
    font-size: 1.1rem;
  }
}
@media (max-width: 320px) {
  .card-title {
    font-weight: 400;
    font-size: 0.9rem;
  }
}
@media (max-width: 283px) {
  .card-title {
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.design-card-button {
  font-family: "Poppins";
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 170%;
  color: #475569;
  transition: 0.5s;
}
@media (max-width: 1270px) {
  .design-card-button {
    font-size: 0.75rem;
    padding: 8px 15px;
  }
}
@media (max-width: 1075px) {
  .design-card-button {
    font-size: 0.75rem;
    padding: 8px 15px;
  }
}
@media (max-width: 991px) {
  .design-card-button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}
@media (max-width: 765px) {
  .design-card-button {
    font-size: 0.7rem;
    padding: 8px 8px;
  }
}
@media (max-width: 588px) {
  .design-card-button {
    font-size: 0.938rem;
    padding: 10px 20px;
  }
}
@media (max-width: 420px) {
  .design-card-button {
    font-size: 0.8rem;
    padding: 8px 8px;
  }
}
@media (max-width: 320px) {
  .design-card-button {
    font-size: 0.7rem;
    padding: 8px 8px;
  }
}
@media (max-width: 283px) {
  .design-card-button {
    font-size: 0.7rem;
    padding: 5px 5px;
  }
}

.design-card-button:hover {
  background: #1e293b;
  color: #ffffff;
}

.design-card {
  padding: 15px;
}

.thumbnail {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 0.9/0.775;
  max-width: -moz-max-content;
  max-width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 93.75rem) {
  .thumbnail {
    width: 100%;
  }
}
@media (max-width: 588px) {
  .thumbnail {
    width: 100%;
    aspect-ratio: 0.88/0.675;
  }
}

/**************** Designs Section Container End*************/
/**************** Userflows Section Container Start*************/
.userflow-caption {
  color: #94A3B8;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 15px;
  margin: 0;
}
@media (max-width: 1227px) {
  .userflow-caption {
    font-size: 13px;
  }
}

.userflow-title {
  color: #F8FAFC;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  padding-top: 10px;
  padding-left: 15px;
  margin: 0;
}
@media (max-width: 1227px) {
  .userflow-title {
    font-size: 22px;
  }
}

.top-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.bottom-content {
  position: relative;
}

.userflows-container {
  background-color: #334155;
  padding: 5% 12% 5%;
}

.userflow-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 6.25rem;
}
@media (max-width: 1447px) {
  .userflow-row {
    grid-gap: 3.5rem;
  }
}
@media (max-width: 1322px) {
  .userflow-row {
    grid-gap: 2.5rem;
  }
}
@media (max-width: 1289px) {
  .userflow-row {
    grid-gap: 1.5rem;
  }
}
@media (max-width: 1248px) {
  .userflow-row {
    grid-gap: 1rem;
  }
}
@media (max-width: 1248px) {
  .userflow-row {
    grid-gap: 5rem;
  }
}

.userflow-card {
  background-color: #030B19;
  border-radius: 8px;
}

.userflow-img {
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  aspect-ratio: 0.7/0.52;
  padding-top: 10px;
  max-width: -moz-max-content;
  max-width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 894px) {
  .userflow-img {
    aspect-ratio: 0.5/0.5;
  }
}

.viewflow {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.viewflow-btn {
  background-color: #475569;
  color: #F1F5F9;
  padding: 10px 15px;
  border-radius: 25px;
  border: 0px;
  transition: 0.5s;
}

.viewflow-btn:hover {
  background-color: #1e293b;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */