html {
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/***************** Main Container *****************/
.cf-m {
  padding: 0% 12% 3%;
  background-color: #0b111e;
}

/***************** NavBar *****************/
.primary-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12% 12px;
  background-color: #0b111e;
  z-index: 10000;
  box-shadow: 0px 19px 34px -11px rgba(0, 0, 0, 0.16);
}

.navbar-brand {
  text-decoration: none;
}

.navbar-brand {
  color: #4abfe3;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.nav-content {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsla(217, 33%, 17%, 0.75);
}
@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .nav-content {
    background: rgba(71, 85, 105, 0.8470588235);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
}
@media (max-width: 800px) {
  .nav-content {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    width: 220px;
    flex-direction: column;
    padding: 100px 5% 10%;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
}
@media (min-width: 801px) {
  .nav-content {
    background: hsla(0, 0%, 100%, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    padding-block: 1rem;
    padding-inline: clamp(0.5rem, 10vw, 4rem);
    gap: clamp(1.5rem, 5vw, 3rem);
    border-radius: 60px;
  }
}

.nav-content[data-visible=true] {
  transform: translateX(0%);
}

.number-in-nav-content {
  display: none;
}
@media (max-width: 800px) {
  .number-in-nav-content {
    display: inline;
    font-weight: 800;
  }
}

.mobile-nav-toggle {
  display: none;
}
@media (max-width: 800px) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("/assets/icons/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 0.8rem;
    right: 10%;
  }
}

.mobile-nav-toggle[aria-expanded=true] {
  background-image: url("/assets/icons/icon-close.svg");
}

.nav-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #cad0db;
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s;
}

.nav-link:hover {
  color: #F1F5F9;
}

/***************** Hero Section *****************/
#hero-section {
  padding: 10% 0%;
}

.hero-section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-content {
  margin-right: 80px;
}
@media (max-width: 1259px) {
  .hero-content {
    margin-right: 20px;
  }
}
@media (max-width: 1259px) {
  .hero-content {
    margin-right: 30px;
  }
}
@media (max-width: 1259px) {
  .hero-content {
    margin-right: 0px;
  }
}

.sub-cap {
  font-family: "Poppins";
  font-size: 0.875rem;
  color: #e2e3f0;
}

.main-heading {
  font-family: "Poppins";
  font-size: 3.75rem;
  font-weight: 600;
  color: #df8e06;
  transition: 0.8s;
  margin-top: 10px;
}

.main-heading:hover {
  color: #ffa000;
}

.main-caption {
  font-family: "Poppins";
  font-size: 1rem;
  color: #ffffff;
  margin-top: 0px;
}
@media (max-width: 1037px) {
  .main-caption {
    font-size: 0.8rem;
  }
}

.hero-img {
  width: 725px;
}
@media (max-width: 1664px) {
  .hero-img {
    width: 600px;
  }
}
@media (max-width: 1500px) {
  .hero-img {
    width: 500px;
  }
}
@media (max-width: 1180px) {
  .hero-img {
    width: 400px;
  }
}
@media (max-width: 977px) {
  .hero-img {
    width: 300px;
  }
}
@media (max-width: 811px) {
  .hero-img {
    display: none;
  }
}

/***************** Buttons *****************/
.buttons {
  display: flex;
  align-items: self-end;
}
@media (max-width: 1049px) {
  .buttons {
    gap: 1rem;
  }
}
@media (max-width: 1034px) {
  .buttons {
    gap: 0.5rem;
  }
}
@media (max-width: 811px) {
  .buttons {
    gap: 1rem;
  }
}
@media (max-width: 364px) {
  .buttons {
    gap: 0.5rem;
  }
}

.hero-btn-txt {
  margin: 0;
}

.about-btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.9375rem;
  color: #f1f5f9;
  background-color: #0b111e;
  border-color: #f1f5f9;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.25rem;
  padding: 12px 22px;
  margin-top: 2.8125rem;
  transition: 0.8s;
}
@media (max-width: 1367px) {
  .about-btn {
    font-weight: 400;
    font-size: 0.8375rem;
    padding: 8px 15px;
  }
}
@media (max-width: 1024px) {
  .about-btn {
    font-weight: 300;
    font-size: 0.8375rem;
    padding: 12px 8px;
  }
}
@media (max-width: 859px) {
  .about-btn {
    font-weight: 300;
    font-size: 0.7375rem;
    padding: 12px 5px;
  }
}
@media (max-width: 859px) {
  .about-btn {
    font-weight: 400;
    font-size: 0.7375rem;
    padding: 12px 22px;
  }
}
@media (max-width: 859px) {
  .about-btn {
    font-weight: 400;
    font-size: 0.7375rem;
    padding: 12px 15px;
  }
}
@media (max-width: 859px) {
  .about-btn {
    padding: 12px 10px;
  }
}

.about-btn:hover {
  background-color: #f1f5f9;
  color: #334155;
}

.view-designs-btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  color: #0b111e;
  background-color: #df8e06;
  border: none;
  border-radius: 0.25rem;
  padding: 12px 22px;
  margin-top: 1.875rem;
  margin-left: 1.5625rem;
  transition: 0.8s;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1367px) {
  .view-designs-btn {
    font-weight: 400;
    font-size: 1rem;
    padding: 8px 15px;
  }
}
@media (max-width: 1350px) {
  .view-designs-btn {
    font-weight: 500;
    font-size: 0.8375rem;
    padding: 5px 15px;
  }
}
@media (max-width: 1049px) {
  .view-designs-btn {
    margin-left: 0;
  }
}
@media (max-width: 1004px) {
  .view-designs-btn {
    padding: 5px 5px;
  }
}
@media (max-width: 832px) {
  .view-designs-btn {
    padding: 8px 5px;
  }
}
@media (max-width: 832px) {
  .view-designs-btn {
    padding: 12px 22px;
  }
}
@media (max-width: 335px) {
  .view-designs-btn {
    padding: 12px 10px;
  }
}

.view-designs-btn:hover {
  background-color: #ffa000;
}

.design-icon {
  width: 2.5rem;
}
@media (max-width: 832px) {
  .design-icon {
    width: 1.5rem;
  }
}
@media (max-width: 811px) {
  .design-icon {
    width: 2.5rem;
  }
}
@media (max-width: 811px) {
  .design-icon {
    width: 2rem;
  }
}
@media (max-width: 316px) {
  .design-icon {
    width: 1.8rem;
  }
}

/**************** Hero Section End *************/
/**************** Designs Section Container *************/
.designs-container {
  background-color: #1e293b;
  padding: 5% 12% 8%;
}

/* Design Thumbnail Cards */
.design-card-button:hover {
  background-color: #1e293b;
  color: #ffffff;
}

.designs-row {
  margin-top: 6.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-gap: 6.25rem;
}
@media (max-width: 1500px) {
  .designs-row {
    grid-gap: 3.125rem;
  }
}
@media (max-width: 1350px) {
  .designs-row {
    grid-gap: 1.875rem;
  }
}
@media (max-width: 1300px) {
  .designs-row {
    grid-gap: 1.25rem;
  }
}
@media (max-width: 991px) {
  .designs-row {
    grid-gap: 5rem;
  }
}
@media (max-width: 631px) {
  .designs-row {
    grid-gap: 2.5rem;
  }
}
@media (max-width: 588px) {
  .designs-row {
    grid-gap: 3.75rem;
  }
}

.fidelity-card {
  background-color: #475569;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 19px 34px -11px rgba(0, 0, 0, 0.21);
}

.title-and-button {
  padding: 0px 15px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.3rem;
  color: #ffffff;
  /* line-height: 170%; */
  align-self: center;
}
@media (max-width: 1270px) {
  .card-title {
    font-weight: 500;
    font-size: 1.1rem;
  }
}
@media (max-width: 1075px) {
  .card-title {
    font-weight: 500;
    font-size: 0.9rem;
  }
}
@media (max-width: 991px) {
  .card-title {
    font-weight: 500;
    font-size: 1.1rem;
  }
}
@media (max-width: 830px) {
  .card-title {
    font-weight: 400;
    font-size: 1rem;
  }
}
@media (max-width: 670px) {
  .card-title {
    font-weight: 400;
    font-size: 0.8rem;
  }
}
@media (max-width: 588px) {
  .card-title {
    font-weight: 500;
    font-size: 1.3rem;
  }
}
@media (max-width: 420px) {
  .card-title {
    font-weight: 400;
    font-size: 1.1rem;
  }
}
@media (max-width: 320px) {
  .card-title {
    font-weight: 400;
    font-size: 0.9rem;
  }
}
@media (max-width: 283px) {
  .card-title {
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.design-card-button {
  font-family: "Poppins";
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 170%;
  color: #475569;
  transition: 0.5s;
}
@media (max-width: 1270px) {
  .design-card-button {
    font-size: 0.75rem;
    padding: 8px 15px;
  }
}
@media (max-width: 1075px) {
  .design-card-button {
    font-size: 0.75rem;
    padding: 8px 15px;
  }
}
@media (max-width: 991px) {
  .design-card-button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}
@media (max-width: 765px) {
  .design-card-button {
    font-size: 0.7rem;
    padding: 8px 8px;
  }
}
@media (max-width: 588px) {
  .design-card-button {
    font-size: 0.938rem;
    padding: 10px 20px;
  }
}
@media (max-width: 420px) {
  .design-card-button {
    font-size: 0.8rem;
    padding: 8px 8px;
  }
}
@media (max-width: 320px) {
  .design-card-button {
    font-size: 0.7rem;
    padding: 8px 8px;
  }
}
@media (max-width: 283px) {
  .design-card-button {
    font-size: 0.7rem;
    padding: 5px 5px;
  }
}

.design-card-button:hover {
  background: #1e293b;
  color: #ffffff;
}

.design-card {
  padding: 15px 15px 0px 15px;
}

.thumbnail {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 0.9/0.775;
  max-width: -moz-max-content;
  max-width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 93.75rem) {
  .thumbnail {
    width: 100%;
  }
}
@media (max-width: 588px) {
  .thumbnail {
    width: 100%;
    aspect-ratio: 0.88/0.675;
  }
}

/**************** Designs Section Container End*************/
/**************** Userflows Section Container Start*************/
.userflow-caption {
  color: #94A3B8;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 15px;
  margin: 0;
}
@media (max-width: 800px) {
  .userflow-caption {
    font-size: 13px;
  }
}
@media (max-width: 700px) {
  .userflow-caption {
    font-size: 10px;
  }
}
@media (max-width: 588px) {
  .userflow-caption {
    font-size: 15px;
  }
}
@media (max-width: 347px) {
  .userflow-caption {
    font-size: 12px;
  }
}
@media (max-width: 283px) {
  .userflow-caption {
    font-size: 10px;
  }
}

.userflow-title {
  color: #F8FAFC;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  padding-top: 10px;
  padding-left: 15px;
  margin: 0;
}
@media (max-width: 800px) {
  .userflow-title {
    font-size: 22px;
  }
}
@media (max-width: 700px) {
  .userflow-title {
    font-size: 18px;
  }
}
@media (max-width: 588px) {
  .userflow-title {
    font-size: 24px;
  }
}
@media (max-width: 588px) {
  .userflow-title {
    font-size: 20px;
  }
}
@media (max-width: 283px) {
  .userflow-title {
    font-size: 18px;
  }
}

.top-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #030B19;
  padding-bottom: 10px;
  border-radius: 8px 8px 0px 0px;
}

.bottom-content {
  position: relative;
}

.userflows-container {
  background-color: #334155;
  padding: 5% 12% 8%;
}

.userflow-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 6.25rem;
}
@media (max-width: 1447px) {
  .userflow-row {
    grid-gap: 3.5rem;
  }
}
@media (max-width: 1331px) {
  .userflow-row {
    grid-gap: 1.5rem;
  }
}
@media (max-width: 1247px) {
  .userflow-row {
    grid-gap: 1rem;
  }
}
@media (max-width: 991px) {
  .userflow-row {
    grid-gap: 5rem;
  }
}
@media (max-width: 631px) {
  .userflow-row {
    grid-gap: 2.95rem;
  }
}

.userflow-card {
  border-radius: 8px;
}

.userflow-img {
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  aspect-ratio: 0.7/0.52;
  max-width: -moz-max-content;
  max-width: max-content;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1226px) {
  .userflow-img {
    aspect-ratio: 0.7/0.52;
  }
}
@media (max-width: 831px) {
  .userflow-img {
    aspect-ratio: 0.345/0.25;
  }
}
@media (max-width: 368px) {
  .userflow-img {
    aspect-ratio: 0.445/0.325;
  }
}

.viewflow {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.viewflow-btn {
  background-color: #475569;
  color: #F1F5F9;
  padding: 10px 15px;
  border-radius: 25px;
  border: 0px;
  transition: 0.5s;
}

.viewflow-btn:hover {
  background-color: #1e293b;
  cursor: pointer;
}

/**************** About Section Container Start*************/
.about-container {
  background-color: #ffffff;
  padding: 5% 12% 8%;
}

@media (max-width: 576px) {
  .about-logo {
    width: 105%;
  }
}

.main-heading2 {
  font-family: "Poppins";
  font-size: 3.75rem;
  font-weight: 600;
  color: #df8e06;
  transition: 0.8s;
}

.main-heading2:hover {
  color: #ffa000;
}

.image-row {
  display: flex;
  gap: 0.5rem;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1420px) {
  .top-row {
    flex-direction: column;
    align-items: flex-start;
  }
}

/**************** UX Case study *************/
.ux-container {
  position: relative;
}

.main-heading3 {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  transition: 0.8s;
  margin-top: 10px;
  display: inline-block;
}

.ux-img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.main-heading3 {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 30%;
}

.ux-text {
  color: #df8e06;
  transition: 0.8s;
}

.ux-text:hover {
  color: #ffa000;
}

.ux-coming {
  position: absolute;
  z-index: 1;
  color: #F8FAFC;
  top: 250px;
  left: 48%;
  font-size: 1.25rem;
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */